<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.tailwindcss.com"></script>
            <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="example-wrapper">
            <!-- Page Container -->
            <div  x-data="{ userDropdownOpen: false, mobileSidebarOpen: false, desktopSidebarOpen: true }"
                x-bind:class="{
                    'lg:pl-64': desktopSidebarOpen
                }"
                id="page-container"
                class="mx-auto flex min-h-screen w-full min-w-[320px] flex-col bg-gray-100 dark:bg-gray-900 dark:text-gray-100 lg:pl-64">
                <!-- Page Sidebar -->
                <nav x-bind:class="{
                    '-translate-x-full': !mobileSidebarOpen,
                    'translate-x-0': mobileSidebarOpen,
                    'lg:-translate-x-full': !desktopSidebarOpen,
                    'lg:translate-x-0': desktopSidebarOpen,
                }"
                    id="page-sidebar"
                    class="dark fixed bottom-0 left-0 top-0 z-50 flex h-full w-full -translate-x-full flex-col border-r border-gray-800 bg-gray-800 text-gray-200 transition-transform duration-500 ease-out lg:w-64 lg:translate-x-0"
                    aria-label="Main Sidebar Navigation">
                    <!-- Sidebar Header -->
                    <div
                        class="flex h-16 w-full flex-none items-center justify-between px-4 dark:bg-gray-600 dark:bg-opacity-25 lg:justify-center">
                        <!-- Brand -->
                        <p
                            class="group inline-flex items-center space-x-2 text-lg font-bold tracking-wide text-gray-900 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300">
                            The Facebook    
                        </p>
                        <!-- END Brand -->

                        <!-- Close Sidebar on Mobile -->
                        <div class="lg:hidden">
                            <button x-on:click="mobileSidebarOpen = false" type="button"
                                class="inline-flex items-center justify-center space-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                                <svg class="hi-mini hi-x-mark -mx-0.5 inline-block h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path
                                        d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                                </svg>
                            </button>
                        </div>
                        <!-- END Close Sidebar on Mobile -->
                    </div>
                    <!-- END Sidebar Header -->

                    <!-- Sidebar Navigation -->
                    <div class="overflow-y-auto">
                        <div class="w-full p-4">
                            <nav class="space-y-1">
                                <a href="{{ path('app_accueil')}}"
                                    class="group flex items-center space-x-2 rounded-lg border border-purple-100 bg-purple-50 px-2.5 text-sm font-medium text-gray-900 dark:border-transparent dark:bg-gray-700/75 dark:text-white">
                                    <span class="flex flex-none items-center text-purple-500 dark:text-gray-300">
                                        <svg class="hi-outline hi-home inline-block h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                            aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                        </svg>
                                    </span>
                                    <span class="grow py-2">Accueil</span>
                                </a>
                                <div class="px-3 pb-2 pt-5 text-xs font-semibold uppercase tracking-wider text-gray-500">
                                    Compte
                                </div>
                                
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <div class="flex flex-col items-center text-center gap-4">
                                        <p>Bonjour {{ app.user.pseudo }}</p>
                                        <a href="{{path('app_logout')}}" class="bg-rose-700 rounded-lg text-white py-2 px-5 hover:text-rose-700 hover:bg-white treansition-all duration-150">
                                            Déconnexion
                                        </a>
                                    </div>
                                {% else %}
                                    <a href="{{ path('app_registration')}}"
                                        class="group flex items-center space-x-2 rounded-lg border border-transparent px-2.5 text-sm font-medium text-gray-800 hover:bg-purple-50 hover:text-gray-900 active:border-purple-100 dark:text-gray-200 dark:hover:bg-gray-700/75 dark:hover:text-white dark:active:border-gray-600">
                                        <span
                                            class="flex flex-none items-center text-gray-400 group-hover:text-purple-500 dark:text-gray-500 dark:group-hover:text-gray-300">
                                            <svg class="hi-outline hi-briefcase inline-block h-5 w-5"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                            </svg>
                                        </span>
                                        <span class="grow py-2">Inscription</span>
                                    </a>
                                    <a href="{{path('app_login')}}"
                                    class="group flex items-center space-x-2 rounded-lg border border-transparent px-2.5 text-sm font-medium text-gray-800 hover:bg-purple-50 hover:text-gray-900 active:border-purple-100 dark:text-gray-200 dark:hover:bg-gray-700/75 dark:hover:text-white dark:active:border-gray-600">
                                        <span
                                            class="flex flex-none items-center text-gray-400 group-hover:text-purple-500 dark:text-gray-500 dark:group-hover:text-gray-300">
                                            <svg class="hi-outline hi-briefcase inline-block h-5 w-5"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                            </svg>
                                        </span>
                                        <span class="grow py-2">Connexion</span>
                                    </a>
                                {% endif %}
                                <div class="px-3 pb-2 pt-5 text-xs font-semibold uppercase tracking-wider text-gray-500">
                                    Projects
                                </div>
                                <a href=""
                                    class="group flex items-center space-x-2 rounded-lg border border-transparent px-2.5 text-sm font-medium text-gray-800 hover:bg-purple-50 hover:text-gray-900 active:border-purple-100 dark:text-gray-200 dark:hover:bg-gray-700/75 dark:hover:text-white dark:active:border-gray-600">
                                    <span
                                        class="flex flex-none items-center text-gray-400 group-hover:text-purple-500 dark:text-gray-500 dark:group-hover:text-gray-300">
                                        <svg class="hi-outline hi-briefcase inline-block h-5 w-5"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
                                        </svg>
                                    </span>
                                    <span class="grow py-2">Bureaux</span>
                                </a>
                                <a href=""
                                    class="group flex items-center space-x-2 rounded-lg border border-transparent px-2.5 text-sm font-medium text-gray-800 hover:bg-purple-50 hover:text-gray-900 active:border-purple-100 dark:text-gray-200 dark:hover:bg-gray-700/75 dark:hover:text-white dark:active:border-gray-600">
                                    <span
                                        class="flex flex-none items-center text-gray-400 group-hover:text-purple-500 dark:text-gray-500 dark:group-hover:text-gray-300">
                                        <svg class="hi-outline hi-clipboard-document-list inline-block h-5 w-5"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                        </svg>
                                    </span>
                                    <span class="grow py-2">Employés</span>
                                </a>
                                <a href=""
                                    class="group flex items-center space-x-2 rounded-lg border border-transparent px-2.5 text-sm font-medium text-gray-800 hover:bg-purple-50 hover:text-gray-900 active:border-purple-100 dark:text-gray-200 dark:hover:bg-gray-700/75 dark:hover:text-white dark:active:border-gray-600">
                                    <span
                                        class="flex flex-none items-center text-gray-400 group-hover:text-purple-500 dark:text-gray-500 dark:group-hover:text-gray-300">
                                        <svg class="hi-outline hi-users inline-block h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                            aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                                        </svg>
                                    </span>
                                    <span class="grow py-2">Clients</span>
                                </a>
                            </nav>
                        </div>
                    </div>
                    <!-- END Sidebar Navigation -->
                </nav>
                <!-- Page Sidebar -->

                <!-- Page Header -->
                <header x-bind:class="{
                    'lg:pl-64': desktopSidebarOpen
                }" id="page-header"
                    class="fixed left-0 right-0 top-0 z-30 flex h-16 flex-none items-center bg-white shadow-sm dark:bg-gray-800 lg:pl-64">
                    <div class="mx-auto flex w-full max-w-10xl justify-between px-4 lg:px-8">
                        <!-- Left Section -->
                        <div class="flex items-center space-x-2">
                            <!-- Toggle Sidebar on Desktop -->
                            <div class="hidden lg:block">
                                <button x-on:click="desktopSidebarOpen = !desktopSidebarOpen" type="button"
                                    class="inline-flex items-center justify-center space-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                                    <svg class="hi-solid hi-menu-alt-1 inline-block h-5 w-5" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                            <!-- END Toggle Sidebar on Desktop -->

                            <!-- Toggle Sidebar on Mobile -->
                            <div class="lg:hidden">
                                <button x-on:click="mobileSidebarOpen = !mobileSidebarOpen" type="button"
                                    class="inline-flex items-center justify-center space-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
                                    <svg class="hi-solid hi-menu-alt-1 inline-block h-5 w-5" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                            <!-- END Toggle Sidebar on Mobile -->
                        </div>
                </header>
                <!-- END Page Header -->

                <!-- Page Content -->
                <main id="page-content" class="flex max-w-full flex-auto flex-col pt-16">
                    {% block main %}{% endblock %}
                </main>
                <!-- END Page Content -->
            </div>
            <!-- END Page Container -->
        </div>

    </body>
</html>
